<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>

<h1>Bienvenue chez Form You !</h1>

<p>Découvrez dès maintenant la plateforme qui met en relation des acheteurs & vendeurs d'actifs digitaux.</p>

<p>À très vite sur Form You !</p>

<p>Form You</p>

</body>
</html>